{% extends 'cuentas/main.html' %}

{% block content %}

    <br>
    <div class="container">
        <div class="row">
            <h4>Departamento: {{departamento.direccion}}</h4>
            <h4>Inquilino: {{inq}}</h4>
            <h2 style="margin-top: 20px;">Ultimos pagos</h2>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <!-- <th>#</th> -->
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Vencimiento</th>
                </tr>
                {% for p in pago %}
                    <tr>
                        <!-- <td>{{p.numero}}</td> -->
                        <td>{{p.fecha}}</td>
                        <td>{{p.monto}}</td>
                        <td>{{p.vencimiento}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}