{% extends 'cuentas/main.html' %}

{% block content %}

    <br>
    <div class="container">
        <div class="row">
            <h3>Lista de Inquilinos</h3>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th>Nombre y Apellido</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Fecha Inicio Contrato</th>
                    <th>Fecha Fin Contrato</th>
                </tr>
                {% for i in inquilino %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.celular}}</td>
                        <td>{{i.fechaContrato_inicio}}</td>
                        <td>{{i.fechaContrato_fin}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}